@model IEnumerable<CryptoSystemDissertation.Models.UserAccount>
<div class="container">
    <h2>Chatboard</h2>
        <div class="registered-users-holder col-lg-8">
            @foreach (var user in Model)
            {
                <div class="col-lg-4">
                    <div class="card transition">
                        <h2 class="transition">@user.FirstName @user.LastName</h2>
                        <p>@user.Email</p>
                        <div class="cta-container transition" onclick="location.href='@Url.Action("ChatOn", "Chatboard", new { userId = user.UserID})'"><a href="#" class="cta">Message @user.LastName</a></div>
                        <div class="card_circle transition"></div>
                    </div>
                </div>
            }
        </div>
        <div id="myPicturesHolder" class="myPictures-holder col-lg-4">
          
        </div>
</div>
@section Scripts {
   @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $(document).ready(function () {
        MyOperations.GetPicturesForMe();
    })
</script>
}
